<div class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__header__logo">
      <img src="assets/svg/logo-white.svg" alt="" />
    </div>
    <div class="navigation">
      <ul>
        <li>
          <a href="">
            <img src="assets/svg/icons/home.svg" alt="" />
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/svg/icons/search.svg" alt="" />
            <span>Search</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/svg/icons/library.svg" alt="" />
            <span>Library</span>
          </a>
        </li>

        <li>
          <a href="">
            <img src="assets/svg/icons/heart-bold.svg" alt="" />
            <span>Liked Songs </span>
          </a>
        </li>
      </ul>
    </div>
    <app-play-list></app-play-list>
  </div>
</div>
