<div class="header-home">
  <div>
    <app-control-pages></app-control-pages>
    <app-search></app-search>
  </div>
  <div>
    <app-avatar></app-avatar>
    <app-notification></app-notification>
  </div>
</div>

<div class="options">
  <div class="btn liked-songs">
    <img src="assets/svg/icons/heart-hover.svg" alt="" />
    <h1>Liked Songs</h1>
  </div>
  <div class="btn recently">
    <img src="assets/svg/icons/muisc-hover.svg" alt="" />
    <h1>Liked Songs</h1>
  </div>
  <div class="btn friends">
    <img src="assets/svg/icons/users-hover.svg" alt="" />
    <h1>Liked Songs</h1>
  </div>
</div>

<div class="your-shows">
  <h1>Seus <span>Shows</span></h1>
  <app-carousel [items]="shows"></app-carousel>
</div>
<div class="your-albums">
  <h1>Sues <span>Albums</span></h1>
  <app-carousel [items]="albums"></app-carousel>
</div>
