<div class="control">
  <div class="control-play">
    <div class="shuffle">
      <img src="../../../../assets/svg/icons/shuffle.svg" alt="" />
    </div>
    <div class="prev" (click)="prev()">
      <img src="../../../../assets/svg/icons/arrow-alt-to-left.svg" alt="" />
    </div>

    <div class="player">
      <img
        *ngIf="playControl"
        (click)="play()"
        src="../../../../assets/svg/icons/play.svg"
        alt=""
      />

      <img
        *ngIf="pauseControl"
        (click)="pause()"
        src="../../../../assets/svg/icons/pause.svg"
        alt=""
      />
    </div>

    <div class="next" (click)="next()">
      <img src="../../../../assets/svg/icons/arrow-alt-to-right.svg" alt="" />
    </div>
    <div class="repeat">
      <img src="../../../../assets/svg/icons/repeat.svg" alt="" />
    </div>
  </div>
  <div class="progress">
    <div>1.25</div>
    <div class="progress-bar">
      <div class="progress-bar-fill"></div>
    </div>
    <div>4.25</div>
  </div>
</div>
<audio src="{{ playMysic }}" autoplay>
  O seu navegador não suporta o elemento <code>audio</code>.
</audio>
