$primary-color: #1db954;
$secondary-color: #fff;
$secondary1-color: #000000;
$secondary2-color: #393939;
$secondary3-color: #191414;

$neutral1-color: #b3b3b3;
$neutral2-color: #777777;
$neutral3-color: #535353;

$cyan-color: #3dd5f3;
$blue-color: #3d8bfd;
$purpel-color: #8c68cd;
$pink-color: #de5c9d;
$red-color: #e35d6a;
$orange-color: #fd9843;
$yellow-color: #ffcd39;
$teal-color: #4dd4ac;

$gradient1-color: linear-gradient(to right, #3dd5f3, #3d8bfd);
$gradient2-color: linear-gradient(to right, #3d8bfd, #8c68cd);
$gradient3-color: linear-gradient(to right, #8c68cd, #de5c9d);
$gradient4-color: linear-gradient(to right, #de5c9d, #e35d6a);
$gradient5-color: linear-gradient(to right, #e35d6a, #fd9843);
$gradient6-color: linear-gradient(to right, #ffcd39, #4dd4ac);
$gradient7-color: linear-gradient(to right, #1db954, #4dd4ac);
